@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Colors */
  --color-primary: #2e8b57;
  --color-secondary: #4caf50;
  --color-accent: #f4a261;

  --color-base-100: #f9fafb;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5db;

  --color-neutral: #374151;
  --color-neutral-content: #111827;

  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
